{{#if hasSelection}}
  <b>{{t "task.in"}} {{groupName}}</b>
  <br/>
  {{#each model as |task|}}
      {{#link-to 'task' task.id}}{{fa-icon "tasks" size="lg"}} <span>{{task.name}}</span>{{/link-to}}
  {{/each}}
  <br/>
  <hr/>
  <br/>
{{else}}
  <b>{{t "task.in"}} {{groupName}}</b>
  <br/>
  {{t "task.group.none"}}
  <br/>
  <hr/>
  <br/>
{{/if}}