<div class="container">
    <div style="float: right;">
        <span style="color: #9d9d9d">{{lang}}</span>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{t "language"}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#" {{action "selectLanguage" "en"}} >{{t "english"}}</a></li>
                <li><a href="#" {{action "selectLanguage" "es"}}>{{t "spanish"}}</a></li>
            </ul>
        </div>
    </div>
    <div style="clear: both;"></div>
    <br/>

    {{partial 'navbar'}}
    {{outlet}}
</div>
