<div class="container">
    <div style="float: right;">
        {{lang}}
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Language
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#" {{action "selectLanguage" "en"}} >English</a></li>
                <li><a href="#" {{action "selectLanguage" "es"}}>Spanish</a></li>
            </ul>
        </div>
    </div>
    <div style="clear: both;"></div>
    <br/>

    {{partial 'navbar'}}
    {{outlet}}
</div>
