<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}{{t "nav.title"}}{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
          {{#link-to 'index' tagName="li"}}<a href="">{{t "nav.home"}}</a>{{/link-to}}
          {{#link-to 'about' tagName="li"}}<a href="">{{t "nav.about"}}</a>{{/link-to}}
          {{#link-to 'reports' tagName="li"}}<a href="">{{t "nav.reports"}}</a>{{/link-to}}
          {{#link-to 'group' tagName="li"}}<a href="">{{t "nav.groups"}}</a>{{/link-to}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {{#if session.isLogged}}
        {{#link-to 'logout' tagName="li"}}<a href="">{{t "nav.logout"}}</a>{{/link-to}}
      {{else}}
        {{#link-to 'login' tagName="li"}}<a href="">{{t "nav.login"}}</a>{{/link-to}}
      {{/if}}
      </ul>
    </div>
  </div>
</nav>
