<h1>{{t "task.title"}}</h1>

<h5>{{t "task.name"}}</h5>
{{#if model.private}} {{fa-icon "user-secret" size="lg"}} {{/if}} {{model.name}}
<br/><br/>

<h5>{{t "task.description"}}</h5>
{{#if model.description}}
  {{format-tags model.description}}
{{else}}
  {{t "task.description.none"}}
{{/if}}
<br/><br/>

<h5>{{t "task.completed"}}</h5>
{{#if model.completed}}
  {{fa-icon "check-circle" class="green" size="lg"}}
{{else}}
  {{fa-icon "times-circle" class="red" size="lg"}}
{{/if}}
<br/><br/>

<h5>{{t "task.date"}}</h5>
{{date-format model.id}}

<br/><br/>

{{comment-feeder model=model.comments}}

<br/><br/>

{{comment-creator model=model.id}}

<br/><br/>
